# system defaults

[DEFAULTS]
MAX_CYCLE = 110
MAX_DIR = 30
MIN_DIR = 15


[VEHICLE]
SPEED = 0.8

[COORDINATES]
x = {"EAST": [0, 0],"NORTH": [550, 580],"WEST": [1040, 1040],"SOUTH": [480, 510]}
y = {"EAST": [305, 335],"NORTH": [0, 0],"WEST": [375, 405],"SOUTH": [800, 800]}
stopLines = {"EAST": 435, "NORTH": 265, "WEST": 645, "SOUTH": 465}
defaultStop = {"EAST": 425,"NORTH": 255,"WEST": 655,"SOUTH": 475}

[SIGNAL]
COUNT = 4
