# system defaults

[DEFAULTS]
MAX_CYCLE = 110
MAX_DIR = 30
MIN_DIR = 15

[SCREEN]
WIDTH = 1358
HEIGHT = 730

[VEHICLE]
SPEED = 0.8

[COORDINATES]
x = {"EAST": [0, 0],"NORTH": [550, 580],"WEST": [1040, 1040],"SOUTH": [480, 510]}
y = {"EAST": [305, 335],"NORTH": [0, 0],"WEST": [375, 405],"SOUTH": [800, 800]}
stopLines = {"EAST": 435, "NORTH": 265, "WEST": 645, "SOUTH": 465}
defaultStop = {"EAST": 425,"NORTH": 255,"WEST": 655,"SOUTH": 475}
signalCoods = [(433, 200), (620, 200), (620, 442), (433, 442)]
signalTimerCoods = [(433, 180), (620, 180), (620, 532), (433, 532)]

[SIGNAL]
COUNT = 4
