# following can be a config file(s)

[SCENE1]
CT_VEHICLES_NORTH = 10
CT_VEHICLES_EAST = 13
CT_VEHICLES_SOUTH = 12
CT_VEHICLES_WEST = 8

[SCENE2]
CT_VEHICLES_NORTH = 1
CT_VEHICLES_EAST = 3
CT_VEHICLES_SOUTH = 2
CT_VEHICLES_WEST = 0

[SCENE3]
CT_VEHICLES_NORTH = 1
CT_VEHICLES_EAST = 3
CT_VEHICLES_SOUTH = 2
CT_VEHICLES_WEST = 0

[SCENE4]
CT_VEHICLES_NORTH = 1
CT_VEHICLES_EAST = 3
CT_VEHICLES_SOUTH = 2
CT_VEHICLES_WEST = 0


[SCENE5] #dynamic
CT_VEHICLES_NORTH = 
CT_VEHICLES_EAST = 
CT_VEHICLES_SOUTH = 
CT_VEHICLES_WEST = 
